.navbar-header .navbar-brand {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: bold;
}
.navbar-header img { height: 64px;}


input[type=range] {
    -webkit-appearance: none;
    background-color: silver;
}

input[type="range"]::-webkit-slider-thumb {
    position: relative;
    -webkit-appearance: none;
    background-color: #666;
    border-radius: 10px;
    width: 40px;
    height: 30px;
}

input[type="range"]::-webkit-slider-thumb:after {
    position: absolute;
    text-align: center;
    color: #fff;
    display: inline-block;
    content: "\26AB";
    font-size: 30px;
    top: -3px;
    left: 7px;
}

input[type="range"].form-control {
    background-color: transparent;
    -webkit-box-shadow: inset 0 15px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 15px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

input[type="range"].form-control.input-lg {
    -webkit-box-shadow: inset 0 22px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 22px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.alert-holder {
    position: fixed;
    left: 0;
}

.alert-holder .alert h4 {
    font-weight: bold;
}