a {
    text-decoration: none;
}

.full-layer {
    width: 100%;
    height: 100%;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.blink {
    animation: blink 1s steps(5, start) infinite;
    -webkit-animation: blink 1s steps(5, start) infinite;
    transition-delay: 1s;
}
@keyframes blink {
    to {
        color: #fff;
        transition-delay: 1s;
    }
}
@-webkit-keyframes blink {
    to {
        color: #fff;
        transition-delay: 1s;
    }
}

/** Screen locker */
.screen-locker {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(0,0,0,0);
    z-index: 100000;
}

.screen-locker > .content {
    position: relative;
    width: 100%;
    height: 100%;
}
.screen-locker > .content > .modal-content {
    position: relative;
    width: 300px;
    margin: 200px auto 0 auto;
    padding: 20px;
    background: #fff;
}

.screen-locker > .content > .modal-content > .mdl-progress {
    width: 250px;
}

.mdl-hover {
    transition: 0.5s ease;
}

.mdl-hover.mdl-hover--turn-180:hover {
    transform: rotate(180deg);
}
.mdl-hover.mdl-hover--scale25:hover {
    transform: scale(1.25);
}

@-webkit-keyframes heartbeat {
    0% { transform: scale(1); }
    30% { transform: scale(1); }
    40% { transform: scale(1.04); }
    50% { transform: scale(1); }
    60% { transform: scale(1); }
    70% { transform: scale(1.04); }
    80% { transform: scale(1); }
    100% { transform: scale(1); }
}
.mdl-hover--heartbeat:hover {
    animation-name: heartbeat;
    animation-duration: 1000ms;
    transform-origin:70% 70%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.heartbeat {
    animation-name: heartbeat;
    animation-duration: 1000ms;
    transform-origin:70% 70%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes snow {
    0% {background-position: 0 0, 0 0, 0 0;}
    50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
    100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}