::-webkit-scrollbar {width:12px;height:8px} /* must balance width with initFixedArea() right */
::-webkit-scrollbar:hover, html.notif ::-webkit-scrollbar {border:1px solid #ccc}
::-webkit-scrollbar-thumb {background-color:rgba(0,0,0,0.2);-webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.10),inset 0 -1px 0 rgba(0,0,0,0.07);}
::-webkit-scrollbar-thumb:hover {background:rgba(0,0,0,0.4)}
::-webkit-scrollbar-button {width: 0;height: 0;display: none;}
::-webkit-scrollbar-corner {background-color: transparent}

body {
    min-width: 500px;
    min-height: 120px;
    max-width: 500px;
}

.mails-card .logo {
    color: #0472C3;
    font-weight: bold;
}

.mails-card .logo img {
    margin: 0 10px 0 0;
}

.mdl-menu--share.mdl-menu--bottom-right {
    left: 0;
    min-width: 60px;
}

.mdl-menu--share>.mdl-menu__item {
    height: 24px;
    line-height: 24px;
    font-size: 24px;
}

.circle {
    background-color: #999;
    border-radius: 100%;
}

.mdl-card.mails-card {
    margin: 0 0 0 0;
    width: 500px;
    min-height: 120px;
}

.mdl-bar {
    position: relative;
    width: 100%;
    padding: 0;
}
.mdl-bar > li {
    padding: 3px 0 3px 0;
    background-color: #3f51b5;
    color: #fff;
    margin-bottom: 5px;
    display: block;
    width: 100%;
    height: 32px;
}

.mdl-bar > li > a {
    color: #fff;
    margin: -3px 0 0 15px;
    overflow: hidden;
    height: 32px;
    position: relative;
    top: 8px;
}

.mdl-bar > li > .action {
    margin-right: 10px;
    top: -2px;
}

.mdl-bar > li > .action > .material-icons {
    position: relative;
    top: 10px;
    left: 13px;
}


/* Overwrites */
.mdl-layout__drawer {
    width: 100px;
}

.mdl-list label {
    color: #3f51b5;
    font-size: 12px;
}

.mdl-list label:after {
    bottom: 14px;
}

.mdl-list>.mdl-list__item_vertical {
    display: block;
    margin: 20px 0 20px 0;
}

.mdl-list>.mdl-list__item_horizontal {
    position: relative;
    display: inline;
    min-height: 28px;
}

/** Day Events **/
.christmas .mdl-card>.mdl-card__actions {
    background: url("../images/events/lamps.png") repeat-x;
    background-position-y: -10px;
    background-size: 25%
}
